.footer-icons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top: 3rem;
}

.footer-icons img{
    width: 30px;
    height: 30px;
    padding: 2rem;
}

.footer-logo{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.footer-logo img{
    width: 20rem;
    height: 7rem;
    padding: 2rem;
}